target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
node_modules/
dist/


node/
nbbuild/

nbdist/
.nb-gradle/
.mvn/
mvnw
mvnw.cmd
/blue-bird-static/node_modules/
/logs/
